{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react"],
  "rules": {
    "no-unused-vars": ["error", {"args": "all", "argsIgnorePattern": "^_"}],
    "no-var": "error",
    "react/prefer-stateless-function": 1,
    "react/prop-types": 0,
    "semi": ["error", "never"]
  }
}
